@import "../../../shared/themes/style-variables/variables";

.container {
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-inline: 8px;

  .options {
    display: flex;
    align-items: flex-end;
    aspect-ratio: 1;
    svg {
      opacity: 0;
      transition: 0.3s;
    }
  }


  .side {
    min-width: 50px;
  }

  .main {
    display: flex;
    min-width: 150px;
    max-width: 350px;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 4px;
      }
    }

    .content {
      display: flex;
      background-color: $blue;
      border-radius: 8px;
      padding: 8px;
    }

    .footer {
      margin-top: 8px;
      height: 30px;
      display: flex;
    }
  }

  &[data-from-other-user="true"] {
    flex-direction: row;

    .content {
      background-color: transparentize($tertiary-color, 0.9);
    }
  }

  &:hover {
    .options {
      svg {
        opacity: 1;
      }
    }
  }

}


@media (max-width: 768px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}