@import "../../../lib/style-variables/variables";

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: $tertiary-color;
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
  border-radius: 50px;
  transition: 0.1s;

  &:hover {
    background-color: transparentize($tertiary-color, 0.9);
  }

  svg {
    width: 32px;
    height: 32px;
    fill: $tertiary-color;
  }

}

.active {
  font-weight: 700;
}