
@font-face {
  font-family: "Sen Regular";
  src: url('../../public/fonts/Sen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Sen Bold";
  src: url('../../public/fonts/Sen-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Sen ExtraBold";
  src: url('../../public/fonts/Sen-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: "Sora";
  src: url('../../public/fonts/Sora.ttf') format('truetype');
}

$sen-regular-font: "Sen Regular", sans-serif;
$sen-bold-font: "Sen Bold", sans-serif;
$sen-extra-bold-font: "Sen ExtraBold", sans-serif;
$sora-font: "Sora", sans-serif;
