@import "../../../shared/themes/style-variables/variables";

.container {
  display: flex;
  flex-direction: row!important;
  align-items: center;
  gap: 12px;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
  }
  > div:has(img) {
    aspect-ratio: 1;
    padding: 0;
  }
  div:last-child {
    flex: 1;
    display: flex;
    justify-content: end;

  }

}


@media (max-width: 768px) {

}

@media (min-width: 768px) {}

@media (max-width: 992px) {
  .container {
    div {
      display: none!important;
    }
    div:first-child {
      display: flex!important;
    }
  }
}

@media (min-width: 1200px) {}