@import "../../../shared/themes/style-variables/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: 12px;
  gap: 4px;
  max-width: $navbar-full-width;
}


@media (max-width: 768px) {
}

@media (min-width: 768px) {

}

@media (max-width: 992px) {
  .container {
    margin-inline: 4px;
    max-width: $navbar-minimized-width;
    div {
      display: none;
    }
    div:has(svg) {
      display: flex;
    }
  }

}

@media (min-width: 1200px) {}