@import "../../../shared/themes/style-variables/variables";
@import "../../../shared/themes/css-reset/css-reset.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline: 12px;
  max-width: $navbar-full-width;
}


@media (max-width: 768px) {
  .container {
    margin-inline: 4px;
  }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
  .container {
    max-width: $navbar-minimized-width;
    a {
      font-size: 0;
      div {
        display: none;
      }
      div:has(svg) {
        display: flex;
      }
    }
  }
}

@media (min-width: 1200px) {}