


$primary-color: #17171a;
$secondary-color: #374bcb;
$tertiary-color: #ddddef;

$blue: #2251ab;
$red: #f9185c;
$orange: #b66b16;

$navbar-full-width: 220px;
$navbar-minimized-width: 70px;
$page-max-width: clamp(580px, 580px, 100%);
$message-bar-height: 92px;
$page-header-height: 60px;


