@import "../../../shared/themes/style-variables/variables";

a {
  color: $tertiary-color;
  text-decoration: none;
}

.container > a {
  display: flex;
  padding: 12px;
  gap: 12px;
  flex-direction: row;

  .main {
    flex: 10;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: -10px;

      > div {
        display: flex;
        flex-direction: row;
        gap: 4px;
      }
    }

    .content {
      padding-block: 8px;
      display: flex;
    }
  }

  &:hover {
    background-color: transparentize($tertiary-color, 0.9);
  }
}


@media (max-width: 768px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}