@import "../../../shared/themes/style-variables/variables";

.container {
  padding: 8px;
  background-color: $primary-color;
  max-height: $message-bar-height;
  border-top: 1px solid transparentize($tertiary-color, 0.9);
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparentize($tertiary-color, 0.9);
    height: 100%;
    border-radius: 8px;
    gap: 8px;

    svg {
      fill: $blue;
    }

    > div:last-child {
      margin: 4px;
      padding: 4px;
      border-left: 1px solid transparentize($tertiary-color, 0.9);
    }
  }


}


@media (max-width: 768px) {

}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
}

@media (min-width: 1200px) {}