@import "../../../shared/themes/style-variables/variables";


a.container {
  color: $tertiary-color;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  border-radius: 0;

  &:hover {
    background-color: transparentize($tertiary-color, 0.9);
  }

  .main {
    text-align: start;
    > div:first-child {
      font-size: 16px;
      font-weight: 700;
    }

    > div:last-child {
      font-size: 14px;
      color: transparentize($tertiary-color, 0.5);
    }
  }

  .side {

  }
}


@media (max-width: 768px) {

}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
}

@media (min-width: 1200px) {}