@import "../../../shared/themes/style-variables/variables";

.user_name {
  font-size: 15px;
  font-weight: 600;
}

.user_login {
  font-size: 15px;
  font-weight: 300;
}

.user_name, .user_login {
  &[data-size="0"] {
    font-size: 12px;
  }
  &[data-size="1"] {
    font-size: 13px;
  }
  &[data-size="2"] {
    font-size: 14px;
  }
  &[data-size="3"] {
    font-size: 15px;
  }
  &[data-size="4"] {
    font-size: 18px;
  }
  &[data-size="5"] {
    font-size: 20px;
  }
}

.follow_info {
  .subscribers_count {
    font-weight: 800;
  }
}