@import "../../../shared/lib/style-variables/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  border-left: 1px solid transparentize($tertiary-color, 0.9);

}