@import "src/shared/themes/style-variables/variables";

.container {
  display: flex;
  flex-direction: column;

  > * {
    border-bottom: 1px solid transparentize($tertiary-color, 0.9);
  }
}


@media (max-width: 768px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}