@import "src/shared/themes/style-variables/variables";
@import "src/shared/fonts/fonts";
@import "src/shared/themes/css-reset/css-reset.scss";

body {
  background-color: $primary-color;
  font-family: $sora-font!important;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  min-height: 100vh;
  color: $tertiary-color;

  .content {
    min-height: 100vh;
    flex: 11;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-left: 1px solid transparentize($tertiary-color, 0.9);
  }

  .header {
    flex: 2;
    min-width: $navbar-full-width;

    > div {
      position: fixed;
      height: 100vh;
      width: $navbar-full-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
  }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
  .container {
    .header {
      flex: 1;
      min-width: $navbar-minimized-width;

      > div {
        width: $navbar-minimized-width;

      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}