@import "../../../lib/style-variables/variables";

.container {
  text-decoration: none;
  color: $tertiary-color;
  font-size: 18px;
  font-weight: 500;

  border-radius: 50px;
  transition: 0.1s;

  svg {
    width: 32px;
    height: 32px;
    fill: $tertiary-color;
  }

}