@import "../../../themes/style-variables/variables";

.container {
  top: -0.5px;
  position: sticky;
  backface-visibility: hidden;
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  height: 60px;
  padding: 8px;
  background-color: transparentize($primary-color, 0.2);
  border-bottom: 1px solid transparentize($tertiary-color, 0.9);
  backdrop-filter: blur(6px);
  z-index: 999;

  > div {
    display: flex;
    font-weight: 800;
    align-items: center;
    font-size: 18px;
  }
}