@import "../../../themes/style-variables/variables";

.container {
  top: -0.5px;
  position: sticky;
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 40px;
  background-color: transparentize($tertiary-color, 0.9);
  border-bottom: 1px solid transparentize($tertiary-color, 0.9);
}