@import "../../../themes/style-variables/variables";

.background {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($primary-color, 0.3);

  align-content: center;
}

.container {
  width: clamp(50%, 700px, 90%);
  color: $tertiary-color;
  max-height: 80%;
  padding: 20px;
  border-radius: 25px;
  background-color: $primary-color;
  border: 1px solid $secondary-color;

  > div {
    padding: 4px;
  }

  > div:has(h3) {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid transparentize($tertiary-color, 0.9);

    h3 {
      font-size: 18px;
    }
  }


}