@import "src/shared/themes/style-variables/variables";

.message_creation_date {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 15px;
  font-weight: 300;
  color: transparentize($tertiary-color, 0.3);
}


@media (max-width: 768px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}